* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: inherit;
  background: rgba(0, 0, 0, .1);
}

.dark ::selection {
  background: rgba(255, 255, 255, .1);
}

body {
  background: #f5f5f5;
  color: #424242;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --theme-color: #2196f3;
}

.dark {
  background: #212121;
  color: #fff;
}

.no-overflow {
  overflow: hidden;
}

header {
  width: 100%;
  color: #2196f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  height: 60px;
  z-index: 3;
  background: #fff;
}

.dark header {
  background: #424242;
  color: #fff;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-title {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.change-theme {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: url("../img/dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  position: relative;
  trans
}

.dark .change-theme {
  background-image: url("../img/light.svg");
}

.change-theme::after {
  content: "";
  border-radius: 2px;
  background: #000;
  width: 100%;
  height: 100%;
  will-change: opacity, background-color;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s, background-color .3s;
  opacity: 0;
}

.dark .change-theme::after {
  background-color: #fff;
}

.change-theme:hover::after {
  opacity: .1;
}

.change-theme:active::after {
  opacity: .2;
}

section {
  min-height: calc(100vh - 60px);
  padding: 24px;
  max-width: 1024px;
  margin: auto;
  z-index: 1;
}

noscript {
  font-size: 45px;
  align-self: center;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading::before {
  width: 56px;
  height: 56px;
  border: 5px solid #2196f3;
  border-top-color: transparent;
  display: block;
  border-radius: 28px;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  content: "";
  box-sizing: border-box;
}

.welcome_buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome_title {
  margin: 0 0 48px;
  font-size: 45px;
  font-weight: 400;
}

.welcome_button,
.workplace_buttons_button {
  font-size: 20px;
  display: block;
  padding: 8px 18px 12px;
  font-family: inherit;
  background-color: #2196f3;
  color: #fff;
  position: relative;
  transition: box-shadow .3s;
  will-change: box-shadow;
  border-radius: 4px;
  border: none;
  margin: 0 0 24px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.welcome_button::after,
.workplace_buttons_button::after {
  content: "";
  background: #000;
  border-radius: 2px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  will-change: opacity;
  transition: opacity .3s;
  position: absolute;
}

.welcome_button:hover::after,
.workplace_buttons_button:hover::after {
  opacity: .1;
}

.welcome_button:active::after,
.workplace_buttons_button:active::after {
  opacity: .2;
}

.welcome_button:hover,
.welcome_button:focus,
.workplace_buttons_button:hover,
.workplace_buttons_button:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}

.welcome_button:active,
.workplace_buttons_button:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.welcome_hint {
  font-size: 34px;
  margin: 24px 0 0;
  color: #bdbdbd;
}

.welcome input {
  display: none;
}

.workplace_theme-name {
  width: 100%;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  background: none;
  font-size: 34px;
  font-family: inherit;
  padding: 0 0 16px;
  caret-color: currentColor;
  will-change: border-bottom-color;
  transition: border-bottom-color .3s;
  margin-bottom: 24px;
  color: #424242;
}

.dark .workplace_theme-name {
  border-bottom-color: #424242;
  color: #fff;
}

.workplace_theme-name:focus {
  border-bottom-color: #2196f3;
}

.workplace_buttons_button {
  font-size: 16px;
  margin-left: 24px;
}

.workplace_buttons_button.red {
  background: #F44336;
}

.workplace_buttons_button.download-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  margin: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  background-image: url("../img/download.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.workplace_buttons_button.download-button::after {
  border-radius: 28px;
}

.workplace_buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  flex-direction: row-reverse;
}

.workplace_warning {
  padding: 12px;
  color: #fff;
  background: #2196f3;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  margin-bottom: 24px;
}

.workplace_warning_link {
  border-bottom: 1px solid #fff;
  cursor: pointer;
  will-change: opacity;
  transition: opacity .3s;
}

.workplace_warning_link:hover,
.workplace_warning_link:focus {
  opacity: .8;
}

.workplace_warning_link:active {
  opacity: .6;
}

.workplace_warning_close {
  width: 18px;
  height: 18px;
  fill: #fff;
  opacity: .9;
  float: right;
  will-change: opacity;
  transition: .3s;
}

.workplace_warning_close:hover,
.workplace_warning_close:focus {
  opacity: .7;
}

.workplace_warning_close:active {
  opacity: .5;
}

.workplace_warning::after {
  content: "";
  display: block;
  clear: both;
}

.workplace_add-variable-container {
  z-index: 2;
  margin: 0 -24px 12px;
  max-width: 976px;
}

.workplace_add-variable-container.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
}

.workplace_add-variable-container.fixed .workplace_add-variable_input {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.workplace_add-variable-container.fixed + .workplace_variables {
  margin-top: 72px;
}

.workplace_add-variable_input {
  width: 100%;
  border: none;
  padding: 16px;
  font-size: 20px;
  font-family: inherit;
  caret-color: currentColor;
  color: #424242;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  z-index: 2;
  will-change: box-shadow, border-bottom-left-radius, border-bottom-right-radius;
  transition: box-shadow .3s, border-bottom-left-radius .3s, border-bottom-right-radius .3s;
  height: 60px;
  border-radius: 2px;
}

.dark .workplace_add-variable_input {
  background: #424242;
  color: #fff;
}

.workplace_add-variable_input::placeholder {
  color: #bdbdbd;
  will-change: opacity;
  transition: opacity .3s;
}

.dark .workplace_add-variable_input::placeholder {
  color: #757575;
}

.workplace_add-variable_input:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.workplace_add-variable_input:focus::placeholder {
  opacity: .5;
}

.workplace_add-variable_suggestions {
  list-style: none;
  margin: 0;
  background: #f5f5f5;
  z-index: 1;
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  max-height: 256px;
  overflow: auto;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  max-width: 976px;
}

.dark .workplace_add-variable_suggestions {
  background: #2a2a2a;
}

.workplace_add-variable_input:focus + .workplace_add-variable_suggestions,
.workplace_add-variable_suggestions:hover {
  display: block;
}

.workplace_add-variable_suggestion {
  padding: 16px;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  word-break: break-all;
  --color: #f5f5f5;
  position: relative;
}

.dark .workplace_add-variable_suggestion {
  --color: #2a2a2a;
}

.workplace_add-variable_suggestion::before {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--color);
  content: "";
  flex-shrink: 0;
  margin-right: 16px;
  margin-top: 4px;
}

.workplace_add-variable_suggestion.before-shadow::before {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.workplace_add-variable_suggestion::after {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  content: "";
  will-change: opacity;
  transition: opacity .3s;
  position: absolute;
  top: 0;
  left: 0;
}

.workplace_add-variable_suggestion:hover::after {
  opacity: .05;
}
.workplace_add-variable_suggestion:active::after {
  opacity: .1;
}

.workplace_variables {
  list-style: none;
  margin: 0 -12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  background-size: 12px 12px;
  justify-content: space-between;
}

.workplace_variables_variable-container {
  width: 100%;
  flex-shrink: 0;
  cursor: pointer;
  background-size: 12px;
  border-radius: 2px;
  margin-bottom: 12px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  will-change: opacity, box-shadow, transform .3s;
  transition: opacity .3s, box-shadow .3s, transform .3s;
}

.workplace_variables_variable-container.transparency {
  background-image: url("../img/transparency.svg");
}

.dark .workplace_variables_variable-container.transparency {
  background-image: url("../img/dark-transparency.svg");
}

.workplace_variables_variable {
  width: 100%;
  padding: 24px;
  color: #fff;
  border-radius: 2px;
  height: 100%;
  position: relative;
}

.workplace_variables_variable::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  will-change: opacity;
  transition: opacity .3s;
  content: "";
}

.workplace_variables_variable-container:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}

.workplace_variables_variable:hover::after {
  opacity: .1;
}

.workplace_variables_variable-container:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.workplace_variables_variable:active::after {
  opacity: .2;
}

.workplace_variables_variable.dark-text {
  color: rgba(0, 0, 0, .9);
}

.dark .workplace_variables_variable-container.transparency .workplace_variables_variable.dark-text {
  color: #fff;
}

.workplace_variables_variable_name {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  z-index: 2;
  word-break: break-all;
}

.workplace_variables_variable_color {
  font-family: "Roboto Mono", "Lucida Console", monospace;
  font-size: 14px;
}

.workplace_variables_variable_color,
.workplace_variables_variable_warning {
  margin: 24px 0 0;
}

.workplace_variables-amount {
  margin: 24px 0 0;
  font-size: 24px;
  opacity: .5;
  width: calc(100% - 80px);
}

.window-container {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
  animation-name: container-appear;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
}

.window-container.full-width {
  padding: 0;
  align-items: flex-start;
}

.window-container.full-width .window {
  max-height: 100vh;
  margin: auto;
}

.window-container.disappear {
  animation-name: container-disappear;
}

.window {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
  animation-name: window-appear;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  max-width: 512px;
  width: 100%;
  max-height: calc(100vh - 48px);
  -webkit-overflow-scrolling: touch;
}

.dark .window {
  background: #212121;
}

.window-container.disappear .window {
  animation-name: window-disappear;
}

.window_title {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 24px;
}

.window_title:only-child {
  margin: 0;
}

.window_container {
  padding: 24px 24px 16px;
  max-height: calc(100vh - 52px);
  overflow: auto;
}

.window_buttons {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px 24px;
  border-top: 2px solid #eee;
}

.dark .window_buttons {
  border-top-color: #424242;
}

.window_buttons_button {
  margin-left: 24px;
  border: none;
  color: #2196f3;
  padding: 0 8px;
  height: 36px;
  line-height: 36px;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  min-width: 64px;
  text-align: center;
  position: relative;
  font-family: inherit;
}

.window_buttons_button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  content: "";
  will-change: opacity;
  transition: opacity .3s;
  border-radius: 2px;
}

.window_buttons_button:hover::after,
.window_buttons_button:focus::after {
  opacity: .1;
}

.window_buttons_button:active::after {
  opacity: .2;
}

.window_textarea,
.window_input {
  border: none;
  border-bottom: 2px solid #bdbdbd;
  resize: vertical;
  width: 100%;
  font-size: 15px;
  caret-color: currentColor;
  height: 256px;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", "Lucida Console", monospace;
  line-height: 1.75;
  will-change: border-bottom-color;
  transition: border-bottom-color .3s;
  background: none;
  color: inherit;
}

.dark .window_textarea,
.dark .window_input {
  border-bottom-color: #424242;
}

.window_textarea {
  border-radius: 2px;
  padding: 16px;
  background: rgba(0, 0, 0, .06);
  position: relative;
}

.dark .window_textarea {
  background: rgba(255, 255, 255, .06);
}

.window_textarea::placeholder {
  color: rgba(66, 66, 66, .5);
  will-change: opacity;
  transition: opacity .3s;
}

.dark .window_textarea::placeholder {
  color: rgba(255, 255, 255, .5);
}

.window_textarea:focus::placeholder {
  opacity: .5;
}

.window_input {
  height: auto;
  padding-bottom: 8px;
}

.window_input:focus,
.window_textarea:focus {
  border-bottom-color: #2196f3;
}

.window_label {
  font-size: 12px;
  margin: 0 0 8px;
  color: #9e9e9e;
}

.window_label .window_input {
  color: #424242;
}

.dark .window_label .window_input {
  color: #fff;
}

.window_fieldset {
  padding: 0;
  border: 0;
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
}

.window_fieldset .window_label {
  width: calc((100% - 72px) / 4);
  display: block;
  margin: 0;
}

.window_preview {
  width: calc(100% + 48px);
  margin: 0 -24px 24px;
}

.window_color-container {
  width: 100%;
  border-radius: 2px;
  height: 64px;
  background: url("../img/transparency.svg");
  background-size: 12px 12px;
  margin: 24px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.dark .window_color-container {
  background-image: url("../img/dark-transparency.svg");
}

.window_color::before {
  content: "";
  background: #000;
  opacity: 0;
  will-change: opacity;
  transition: opacity .3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.window_color:hover::before {
  opacity: .1;
}

.window_color:active::before {
  opacity: .2;
}

.window_color {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  position: relative;
}

.window input[type="color"] {
  display: none;
}

.window_palette:not(:empty) {
  margin-top: 24px;
  overflow: auto;
  max-height: 192px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.window_palette_color {
  min-width: 96px;
  height: 48px;
  flex-grow: 1;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 2px;
  will-change: opacity;
  transition: opacity .3s;
  cursor: pointer;
  text-align: center;
  color: #fff;
  line-height: 48px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-family: "Roboto Mono", "Lucida Console", monospace;
  font-size: 14px;
}

.window_palette_color.dark-color {
  color: rgba(0, 0, 0, .9);
}

.window_palette_color:hover {
  opacity: .8;
}

.window_palette_color:hover {
  opacity: .6;
}

@keyframes loading {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes container-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes window-appear {
  0% {
    transform: scale(.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes container-disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes window-disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(.75);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .workplace_variables {
    margin: 0;
  }

  .workplace_variables_variable-container {
    width: calc(50% - 6px);
  }

  .workplace_add-variable-container {
    margin: 0 0 12px;
  }

  .workplace_add-variable_suggestions {
    border-radius: 0 0 2px 2px;
  }
}